@model IEnumerable<ConsultaDocumentos.Web.Models.AplicacaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@Html.AntiForgeryToken()
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                <a href="javascript:void(0);" onclick="openDeleteConfirmation('@item.Id', 'Aplicacao', '@item.Nome')" class="text-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* Modal de confirmação de exclusão *@
@await Html.PartialAsync("_DeleteConfirmationModal")

@section Scripts {
    <script src="~/js/delete-helper.js"></script>
}
